@font-face {
  font-family: "Cooper Lt BT";
  src: url("assets/Font/cooperboldbt.ttf") format("woff2"),
    url("assets/Font/Futura Bold font.ttf"),
    url("assets/Font/cooperlightbt.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
.submenu:hover .dropdown-toggle {
  color: #808080 !important;
}
.nav-item:hover .nav-link {
  color: #808080 !important;
}
.submenu-item > li:hover .dropdown-item {
  color: #808080 !important;
}

footer {
  background-color: #d1d5db;
  padding: 20px;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.logo strong {
  font-size: 38px;
  line-height: 1;
}

.footer-links a {
  margin: 0 10px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.footer-bottom hr {
  border: none;
  border-top: 1px solid #000;
  margin: 20px 0;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links span {
  margin-right: 10px;
}

.social-links a {
  margin: 0 5px;
  color: #000;
  font-size: 20px;
}

.nav-links a {
  margin: 0 15px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-family: "FuturaBold", sans-serif; /* Apply the custom font */
}

.footer-text {
  /* font-family: "FuturaBold", sans-serif; */
  text-align: right;
}

.footer-text p {
  margin: 0;
  font-size: 14px;
}

.btn-my-color {
  background-color: #b8bacf !important;
  padding: 10px 25px 10px 25px !important;
}

.w-90 {
  width: 90% !important;
  margin: 0px auto !important;
}
.heading {
  font-family: "Cooper Lt BT", "Century Gothic", serif;
  text-align: left !important;
}

body {
  font-family: "Century Gothic", serif;
  background: white !important;
  box-sizing: border-box;
}

.nav-item:hover.nav-link {
  color: white !important;
}
.submenu-item {
  display: none;
}

.submenu:hover .submenu-item {
  display: block;
}
.submenu-item {
  display: none;
}

.parentmenu:hover .parentmenu-item {
  display: block;
}
.top-header {
  width: 100%;
}

.top-header .icons {
  float: right;
  margin-right: 10px;
  padding: 10px;
}

.top-header .icons .icon i {
  padding: 2px;
  font-size: 28px;
}

.top-header .icons .icon .fa-instagram {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whats-new-img {
  width: 100% !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-radius: 3% !important;
}

.col-md-2 > .img > img {
  width: 90% !important;
  height: auto;
  margin: 0px auto !important;
}

.icons {
  cursor: pointer;
}
.icons i {
  font-size: 19px;
}

.text-golden {
  color: gold;
}
/* img {
  animation: rotate 5s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotate {
  from {
    transform: rotate3d(1, 0, 1, 10deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 360deg);
  }
} */
/* .ic {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.ic:hover,
.ic.selected {
  color: gold;
} */
